# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# VSCode folder
.vscode/

# Server local config file, not for source control
config/local.json

# macOS #
.DS_Store
.AppleDouble
.LSOverride
*.icloud