SPEECH_KEY=# Azure Cognitive Services Speech Services API key (from https://portal.azure.com/#create/Microsoft.CognitiveServicesSpeechServices)
SPEECH_REGION=# Azure Cognitive Services Speech Services region (e.g., "uksouth") (from https://portal.azure.com/#create/Microsoft.CognitiveServicesSpeechServices)